In [1]:
# Libraries required
import pandas as pd
import os

In [2]:
# Path to the files
pwd = 'dataset-samples/'
os.chdir(pwd)

In [3]:
# Read in one csv file and 
df = pd.read_csv('I01R1V0.CSV', 
                 names=
                    ['Day_of_Year',
                    'UTC_Hours',
                    'UTC_Minutes',
                    'UTC_seconds',
                    'IOP_number',
                    'van_number',
                    'pass_number',
                    'hours_in_CDT_day_start',
                    'latitude',
                    'longitude', 
                    'altitude',
                    'number_of_satellites',
                    'hdop',
                    'concentration_of_SF6',
                    'QC_flag'])

In [4]:
df

,Day_of_Year,UTC_Hours,UTC_Minutes,UTC_seconds,IOP_number,van_number,pass_number,hours_in_CDT_day_start,latitude,longitude,altitude,number_of_satellites,hdop,concentration_of_SF6,QC_flag
0,180,14,0,0.0,1,0,-1,9.000000,35.469797,-97.5147,353,-1,0.0,-999.0,5
1,180,14,0,0.5,1,0,-1,9.000139,35.469797,-97.5147,353,-1,0.0,-999.0,5
2,180,14,0,1.0,1,0,-1,9.000278,35.469797,-97.5147,353,-1,0.0,-999.0,5
3,180,14,0,1.5,1,0,-1,9.000417,35.469797,-97.5147,353,-1,0.0,-999.0,5
4,180,14,0,2.0,1,0,-1,9.000556,35.469797,-97.5147,353,-1,0.0,-999.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10796,180,15,29,58.0,1,0,-1,10.499444,35.469797,-97.5147,353,-1,0.0,-999.0,5
10797,180,15,29,58.5,1,0,-1,10.499583,35.469797,-97.5147,353,-1,0.0,-999.0,5
10798,180,15,29,59.0,1,0,-1,10.499722,35.469797,-97.5147,353,-1,0.0,-999.0,5
10799,180,15,29,59.5,1,0,-1,10.499861,35.469797,-97.5147,353,-1,0.0,-999.0,5
10800,180,15,30,0.0,1,0,-1,10.500000,35.469797,-97.5147,353,-1,0.0,-999.0,5